**/*.iml
.idea
.vscode
.git
.github
**/.gitignore
*.md
docker-compose*.yml
Dockerfile*
local
src/test
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/extracted
target/*.original
